<div class="page">
  <div class="weui-flex" style="background-color: #fafafa">
    <div class="weui-flex__item" style="padding: 10px 0"><span class="weui-icon-search"></span>搜索<i></i></div>
    <div class="weui-flex__item" style="padding: 10px 0">筛选<i></i></div>
    <div class="weui-flex__item" style="padding: 10px 0">最近创建<i></i></div>

  </div>

  <div class="weui-cells">
    <a class="weui-cell" href="#/client/clientDetail">
      <div class="weui-cell__bd">
        <h3>中国移动</h3>
        <span style="color: #888">最后跟进时间:  2017-06-08 14:10</span>
      </div>
    </a>
    <a class="weui-cell">
      <div class="weui-cell__bd">
        <h3>中国电信</h3>
        <span style="color: #888">最后跟进时间: 2017-06-08 14:24</span>
      </div>
    </a>
  </div>

  <a class="open-popup" data-target="#AddClient" style="display: block;width: 60px;height: 60px;border-radius: 30px;background-color: #3879d9;text-align: center;position: absolute;bottom: 20px;right: 20px">
    <div style="padding: 15px 0;color: #ffffff">新增</div>
  </a>

  <div id="AddClient" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
      <div class="page">
        <div class="weui-cells" style="margin-bottom: 15px">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p style="text-align: center;color: #000">
                <a style="float: left;color: red;text-decoration: underline" class="close-popup">取消</a>
                新增客户
                <a style="float: right;color: red;text-decoration: underline" class="close-popup">完成</a>
              </p>
            </div>
          </div>
        </div>
        <div class="weui-cells__title" style="font-size: 12px">客户信息</div>
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">名称</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入客户名称">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">地址</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入客户地址">
            </div>
          </div>
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
              <p>客户来源</p>
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
              <p>客户级别</p>
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>

        </div>
        <div class="weui-cells__title" style="font-size: 12px">联系人信息</div>
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入联系人姓名">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">手机</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入联系人手机">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">座机</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入联系人座机">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">职务</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入联系人职务">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">邮箱</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入联系人邮箱">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">备注</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text"  placeholder="输入联系人备注">
            </div>
          </div>


        </div>
        <div class="weui-cells__title" style="font-size: 12px">产品信息</div>
        <div class="weui-cells weui-cells_form">
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
              <p>负责业务</p>
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
              <p>负责服务</p>
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">产品版本</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text" id="productPicker"  placeholder="选择产品版本">
            </div>
          </div>

          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">截止日期</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text" id="timePicker"  placeholder="选择截止日期">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

<script>
  $("#productPicker").picker({
    title: "请选择产品版本",
    cols: [
      {
        textAlign: 'center',
        values: ['I-完美版', 'T-企业版', 'E-企业版', 'C-经典版']
      }
    ]
  });

  $("#timePicker").datetimePicker();
</script>


