<div class="weui-panel weui-panel_access" style="background-color: #EFEFF4">
  <div class="weui-panel__bd" style="background-color: #445c95;color: #ffff">
    <div class="weui-media-box weui-media-box_text" style="border-bottom: 1px solid #556a9e">
      <h3 style="font-size: 24px" class="weui-media-box__title">中国移动</h3>
      <p class="weui-media-box__desc" style="color: #a6b2ce;margin: 15px 0">最后跟进时间：2017-06-08 14:24</p>
      <p class="weui-media-box__desc" style="color: #b2bdd3;">联系人:老王</p>
      <p style="float: right;position: absolute;top: 40%;right: 15px"><img src="../../images/more.png" alt=""> </p>
    </div>



    <div>
      <div style="display: flex">
        <a style="flex:1;background-color: #576da0;color: #e5ccdc;font-size: 15px;margin: 10px 5px" class="weui-btn">订单0</a>
        <a style="flex:1;background-color: #576da0;color: #e5ccdc;font-size: 15px;margin: 10px 5px" class="weui-btn">产品0</a>
        <a style="flex:1;background-color: #576da0;color: #e5ccdc;font-size: 15px;margin: 10px 5px" class="weui-btn">回款0</a>
        <a style="flex:1;background-color: #576da0;color: #e5ccdc;font-size: 15px;margin: 10px 5px" class="weui-btn">提醒2</a>
      </div>

    </div>

  </div>
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p style="color: #000;font-size: 15px">跟进人</p>
      </div>
      <div class="weui-cell__ft">杨云龙</div>
    </a>
    <a class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p style="color: #000;font-size: 15px">客户来源</p>
      </div>
      <div class="weui-cell__ft">客户介绍</div>
    </a>

  </div>
  <div class="weui-panel weui-panel_access" style="margin-bottom: 45px">
    <div class="weui-panel__hd">洽谈记录 (2)</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text" style="border-bottom: 1px solid #eee">
        <h4 class="weui-media-box__title">杨云龙 <a style="font-size: 10px;text-decoration: underline;color: #7789ab;float: right;margin-top: 8px">09-13 14:25  南京市建邺区创智路2号瑞泰大厦...</a></h4>
        <p class="weui-media-box__desc">
          洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容
        </p>
        <div>
          <span style="border: 1px solid #eeeeee;padding: 0 5px;display:inline-block;margin-top:15px;margin-bottom:-5px;border-radius: 10px;width: 70px;font-size: 12px;text-align: center;color: #999">外勤拜访</span>
          <a href="#/client/recordDetail" style="width: 60px;float: right;margin-top: 18px;font-size: 12px;color: #999;position: relative">
            <img src="../../images/comments.png" alt="">
            <span style="display: inline-block;position: absolute;top: 0;margin-left: 5px;line-height: 16px">评论</span>
          </a>
        </div>

      </div>
      <div class="weui-media-box weui-media-box_text" style="border-bottom: 1px solid #eee">
        <h4 class="weui-media-box__title">杨云龙 <a style="font-size: 10px;text-decoration: underline;color: #7789ab;float: right;margin-top: 8px">09-13 14:25  南京市建邺区创智路2号瑞泰大厦...</a></h4>
        <p class="weui-media-box__desc">
          洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容
        </p>
        <div>
          <span style="border: 1px solid #eeeeee;padding: 0 5px;display:inline-block;margin-top:15px;margin-bottom:-5px;border-radius: 10px;width: 70px;font-size: 12px;text-align: center;color: #999">
            会话沟通
          </span>
          <span style="width: 60px;float: right;margin-top: 18px;font-size: 12px;color: #999;position: relative">
            <img src="../../images/comments.png" alt=""> <span style="display: inline-block;position: absolute;top: 0;margin-left: 5px;line-height: 16px">评论</span>
          </span>
        </div>

      </div>
      <div class="weui-media-box weui-media-box_text" style="border-bottom: 1px solid #eee">
        <h4 class="weui-media-box__title">杨云龙 <a style="font-size: 10px;text-decoration: underline;color: #7789ab;float: right;margin-top: 8px">09-13 14:25  南京市建邺区创智路2号瑞泰大厦...</a></h4>
        <p class="weui-media-box__desc">
          洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容
        </p>
        <div>
          <span style="border: 1px solid #eeeeee;padding: 0 5px;display:inline-block;margin-top:15px;margin-bottom:-5px;border-radius: 10px;width: 70px;font-size: 12px;text-align: center;color: #999">外勤拜访</span>
          <span style="width: 60px;float: right;margin-top: 18px;font-size: 12px;color: #999;position: relative">
            <img src="../../images/comments.png" alt=""> <span style="display: inline-block;position: absolute;top: 0;margin-left: 5px;line-height: 16px">评论</span>
          </span>
        </div>

      </div>
    </div>

  </div>
  <div class="weui-footer weui-footer_fixed-bottom" style="bottom: 0">
    <div data-target="#AddRecord" class="open-popup" style="margin-left: auto;margin-right: auto;padding:10px 14px;box-sizing: border-box;font-size: 16px;text-align: center;border-radius: 0;background-color: #fafafa;color: #000;text-decoration: underline">
      添加洽谈记录 +</div>
  </div>
  <div id="AddRecord" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
      <div class="weui-cells" style="margin-bottom: 15px">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p style="float: left;color: red;text-decoration: underline" class="close-popup">取消</p>
            <p style="text-align: center;color: #000">选择洽谈方式</p>
          </div>
        </div>
      </div>
      <div class="weui-cells">
        <a class="weui-cell weui-cell_access open-popup" data-target="#TextRecord">
          <div class="weui-cell__bd">
            <p>会话沟通</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
      </div>
      <div class="weui-cells__title" style="font-size: 12px;margin-bottom: 15px">通过电话、微信、QQ、邮件等远程方式沟通</div>
      <div class="weui-cells">
        <a class="weui-cell weui-cell_access open-popup" data-target="#TextRecord">
          <div class="weui-cell__bd">
            <p>外勤拜访</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
      </div>
      <div class="weui-cells__title" style="font-size: 12px">现场见面，即时定位</div>
    </div>
  </div>
  <div id="TextRecord" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
      <div class="weui-cells" style="margin-bottom: 15px">
        <div class="weui-cell">
          <div class="weui-cell__bd">

            <p style="text-align: center;color: #000">
            <span style="float: left;color: red;text-decoration: underline" class="close-popup">取消</span>
              添加会话沟通
              <span style="float: right;color: red;text-decoration: underline" class="close-popup">完成</span>
            </p>

          </div>
        </div>
      </div>
      <div class="weui-cells weui-cells_form" style="margin-bottom: 15px">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="输入沟通记录" rows="3"></textarea>
            <!--<div class="weui-textarea-counter"><span>0</span>/200</div>-->
          </div>
        </div>
        <a class="weui-cell weui-cell_link">
          <div class="weui-cell__bd" style="font-size: 12px;">
            <img src="../../images/location.png" alt="">
            <span>南京市建邺区创智路瑞泰大厦</span>
          </div>
        </a>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">下次洽谈时间</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="timePicker"  placeholder="选择日期">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
   $("#timePicker").datetimePicker();
</script>
