<div class="page" ng-controller="ClientdetailCtrl">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd" style="background-color: #445c95;color: #ffff">
      <div class="weui-media-box weui-media-box_text" style="border-bottom: 1px solid #556a9e">
        <h3 style="font-size: 24px" class="weui-media-box__title" ng-bind="customerItem.Abbr"></h3>
        <p class="weui-media-box__desc" style="color: #b2bdd3;margin: 10px 0">联系人: <span ng-bind="customerItem.ContactName"></span></p>
        <p class="weui-media-box__desc" style="color: #b2bdd3;margin: 10px 0">
          产品版本: <span ng-bind="customerItem.ProductInfo"></span>
          <span style="margin-left: 15px">人版数: <span ng-bind="customerItem.Licenses"></span></span>
        </p>
        <a style="float: right;position: absolute;top: 35%;right: 15px" href="#/client/clientDetailInfo"><img src="../../images/more.png" alt=""> </a>
      </div>
      <div>
      </div>
    </div>

    <div class="weui-panel weui-panel_access" style="margin-bottom: 45px;margin-top: 0">
      <div class="weui-panel__hd">洽谈记录 (<span ng-bind="AppointmentList.length"></span>)</div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text" ng-repeat="item in AppointmentList|orderBy:'Id':true" style="border-bottom: 1px solid #eee">
          <h4 class="weui-media-box__title">
           <span ng-bind="item.Subject"></span>
            <a style="font-size: 10px;color: #7789ab;float: right;margin-top: 8px">
              <span ng-bind="item.Staff"></span> <span ng-bind="item.StartTime"></span>
            </a>
          </h4>
          <p class="weui-media-box__desc" ng-bind="item.Description"></p>
          <div>
            <span ng-bind="item.AppointmentType" style="border: 1px solid #eeeeee;padding: 0 10px;display:inline-block;margin-top:15px;margin-bottom:-5px;border-radius: 10px;width: auto;font-size: 12px;text-align: center;color: #999"></span>
            <a ng-href="#/client/recordDetail/{{item.Id}}" style="width: 60px;float: right;margin-top: 18px;font-size: 12px;color: #999;position: relative">
              <img src="../../images/comments.png" alt="">
              <span style="display: inline-block;position: absolute;top: 0;margin-left: 5px;line-height: 16px">沟通</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom" style="bottom: 0">
      <a href="#/client/AddRecord" style="display:block;margin-left: auto;margin-right: auto;padding:10px 14px;box-sizing: border-box;font-size: 16px;text-align: center;border-radius: 0;background-color: #fafafa;color: #000;text-decoration: underline">
        添加洽谈记录 +</a>
    </div>

  </div>
</div>

