<div class="page" style="background-color: #fafafa" ng-controller="RecorddetailCtrl">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text" style="border-bottom: 1px solid #eee">
        <h4 class="weui-media-box__title">
          <span ng-bind="AppointmentDetail.Subject"></span>
          <a style="font-size: 10px;color: #7789ab;float: right;margin-top: 8px">
            <span ng-bind="AppointmentDetail.PartnerContact"></span>,
            <!--<span ng-bind="AppointmentDetail.CloseTime"></span>,-->
            <span ng-bind="AppointmentDetail.Week"></span>
          </a>
        </h4>
        <p class="weui-media-box__desc" >
          <span ng-bind="AppointmentDetail.Description"></span>
        </p>
        <p class="weui-media-box__desc" style="margin-top: 10px;">
          <span ng-if="AppointmentDetail.NextSubject !=null">预计下次主题:{{AppointmentDetail.NextSubject}}</span>
          <span ng-if="AppointmentDetail.NextDate !=null" ng-bind="AppointmentDetail.NextDate|DateFilter"></span>
        </p>

        <div style="font-size: 12px;margin-top: 10px;color: #7789ab">
          <span ng-bind="AppointmentDetail.Partner"></span>
          <span ng-bind="AppointmentDetail.Staff"></span>
        </div>
      </div>
    </div>

  </div>
  <div class="weui-panel weui-panel_access" style="height: 100%">
    <div class="weui-panel__hd">回复 <span ng-bind="Comments.length"></span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" ng-repeat="item in Comments|orderBy:'CreatedDate'">
            <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p style="font-size: 10px;color:#388bd1;text-decoration: underline" ng-bind="item.CreatedBy"></p>
              <p ng-bind="item.Comments"></p>
            </div>
            <span style="font-size: 12px;color: #999;margin-left: 5px" ng-bind="item.CreatedDate|DateFilter"></span>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="weui-footer weui-footer_fixed-bottom" style="bottom: 0;background-color: #fafafa;height: 45px;">
    <div class="weui-search-bar" id="searchBar" style="background-color: #fafafa">
      <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
          <!--<i class="weui-icon-search"></i>-->
          <input type="search" class="weui-search-bar__input" ng-model="commentItem.Comments" id="searchInput" placeholder="发送回复..." required="">
          <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
      </form>
      <a class="weui-search-bar__cancel-btn" id="searchCancel" style="display: block;color: #999" ng-click="SendComments()">发送</a>
    </div>
  </div>
</div>
