<div class="page" style="background-color: #fafafa">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text" style="border-bottom: 1px solid #eee">
        <h4 class="weui-media-box__title">杨云龙 <a style="font-size: 10px;text-decoration: underline;color: #7789ab;float: right;margin-top: 8px">09-13 14:25</a></h4>
        <p class="weui-media-box__desc">
          洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容洽谈内容
        </p>
        <div style="font-size: 12px;margin-top: 10px">中国移动</div>
      </div>
    </div>

  </div>
  <div class="weui-panel weui-panel_access" style="height: 100%">
    <div class="weui-panel__hd">评论 0</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p style="font-size: 10px;color:#388bd1;text-decoration: underline">杨云龙</p>
              <p>评论内容评论内容评论内容</p>
            </div>
            <span style="font-size: 12px;color: #999;margin-left: 5px">09-18 14:24</span>
          </a>
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p style="font-size: 10px;color:#388bd1;text-decoration: underline">杨云龙</p>
              <p>评论内容评论内容评论内容评论内容评论内容评论内容评论内容</p>
            </div>
            <span style="font-size: 12px;color: #999;margin-left: 5px">09-14 14:24</span>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="weui-footer weui-footer_fixed-bottom" style="bottom: 0;background-color: #fafafa;height: 45px;">
    <div class="weui-search-bar" id="searchBar" style="background-color: #fafafa">
      <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
          <!--<i class="weui-icon-search"></i>-->
          <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="发送评论..." required="">
          <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
      </form>
      <div class="weui-search-bar__cancel-btn" id="searchCancel" style="display: block;color: #999">发送</div>
    </div>
  </div>
</div>
