<div class="weui-tab" style="background: #F8F8F8" ng-controller="Tabpage4Ctrl">
  <div class="user" style="height: 200px;width: 100%;background: #ff0000">
    <div class="user-img" style="text-align: center;">
      <img src="images/yeoman.png" style="margin-top: 50px" alt="">
    </div>
  </div>
  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="#/me/myorder/tab1">
            <div class="weui-cell__hd">
              <img src="images/text.png" alt="" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的订单</p>
            </div>
            <span class="weui-cell__ft">查看全部订单</span>
          </a>
        </div>
      </div>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-flex" style="border-bottom: none;border-top: none">
        <a class="weui-flex__item" href="#/me/myorder/tab2">
          <img src="images/signboard.png" alt="">
          <p>待付款</p>
        </a>
        <a class="weui-flex__item" href="#/me/myorder/tab3">
          <img src="images/similar-product.png" alt="">
          <p>待发货</p>
        </a>
        <a class="weui-flex__item" href="#/me/myorder/tab4">
          <img src="images/ship.png" alt="">
          <p>待收货</p>
        </a>
        <a class="weui-flex__item" href="#/me/myorder/tab5">
          <img src="images/good.png" alt="">
          <p>待评价</p>
        </a>
      </div>
    </div>
  </div>
  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
              <img src="images/integral.png" alt="" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的积分</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
              <img src="images/discount.png" alt="" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的优惠券</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
          <a class="weui-cell weui-cell_access" href="#/me/address">
            <div class="weui-cell__hd">
              <img src="images/map.png" alt="" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的地址</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
              <img src="images/remind.png" alt="" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的消息</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
              <img src="images/gifts.png" alt="" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>热门活动</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
