<div class="weui-tab" style="background-color: #f8f8f8">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <a class="weui-media-box weui-media-box_appmsg" style="background-color: #ffffff">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="images/1701.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
          <p  style="font-size: 15px" class="weui-media-box__title">物流状态: <span style="color: #04BE02">已签收</span></p>
          <p style="font-size: 14px;margin: 5px 0"  class="weui-media-box__desc">承运来源:  圆通快递</p>
          <p style="font-size: 14px;margin: 5px 0" class="weui-media-box__desc">运单编号:   20161228</p>
          <p style="font-size: 14px;margin: 5px 0" class="weui-media-box__desc">官方电话:   95546</p>
        </div>
      </a>
    </div>
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd">
              <p>派送员:老王</p>
            </div>
            <div class="weui-cell__bd weui-cell_primary">
              <p style="float: right">13851410501</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" style="padding: 5px 15px">
            <div class="weui-cell__bd weui-cell_primary">
              <p>本数据由&nbsp;&nbsp;<span style="color: #81BFF6">ITEC</span>提供</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="weui-panel__bd">
      <div class="row">
        <div class="col-md-12">
          <div class="Timeline">
            <dl>
              <!--<dt></dt>-->
              <dd class="pos-left clearfix">
                <div class="circ active"></div>
                <div class="events first-line">
                  快递已签收.签收人凭取货码签收！期待再次为您服务。
                  <p class="orderDate">2016-12-28 12:00:00</p>
                </div>
              </dd>
              <dd class="pos-left clearfix">
                <div class="circ"></div>
                <div class="events">
                  [南京市]江苏省南京市建邺区派件员：老王 13851410501正在派件
                  <p class="orderDate">2016-12-27 18:50:42</p>
                </div>
              </dd>
              <dd class="pos-left clearfix">
                <div class="circ"></div>
                <div class="events">
                  [南京市]南京市分拨中心已发出
                  <p class="orderDate">2016-12-27 13:10:26</p>
                </div>
              </dd>
              <dd class="pos-left clearfix">
                <div class="circ"></div>
                <div class="events">
                  [南京市]快递已到达 江苏南京分拨中心
                  <p class="orderDate">2016-12-27 08:40:57</p>
                </div>
              </dd>
              <dd class="pos-left clearfix">
                <div class="circ"></div>
                <div class="events">
                  [宁波市]浙江宁波分拨中心 已发出
                  <p class="orderDate">2016-12-26 19:17:46</p>
                </div>
              </dd>
              <dd class="pos-left clearfix">
                <div class="circ"></div>
                <div class="events">
                  [宁波市]快递已到达 浙江宁波分拨中心
                  <p class="orderDate">2016-12-26 19:12:28</p>
                </div>
              </dd>
              <dd class="pos-left clearfix">
                <div class="circ"></div>
                <div class="events">
                  [宁波市]浙江宁波服务部 已发出
                  <p class="orderDate">2016-12-26 11:38:19</p>
                </div>
              </dd>
              <dd class="pos-left clearfix">
                <div class="circ"></div>
                <div class="events">
                  [宁波市]圆通快递 浙江宁波服务部快递员 已揽件
                  <p class="orderDate">2016-12-26 09:20:10</p>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $(function () {

    if ($('html').scrollTop()) {
      $('html').animate({ scrollTop: 0 }, 10);
      return false;
    }
    $('body').animate({ scrollTop: 0 }, 10);
  })
</script>
