<div class="page" ng-controller="MainCtrl">
  <div class="page__bd">
    <div class="weui-tab" >
      <div class="weui-tab__bd">
        <div class="weui-tab__bd-item weui-tab__bd-item--active">
          <div ui-view="tabPage"></div>
        </div>
      </div>

      <div class="weui-tabbar">
        <a  class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <i class="fa fa-home"></i>
          </div>
          <p class="weui-tabbar__label">微信</p>
        </a>
        <a  class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <i class="fa fa-anchor"></i>
          </div>
          <p class="weui-tabbar__label">通讯录</p>
        </a>
        <a  class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <i class="fa fa-gear"></i>
          </div>
          <p class="weui-tabbar__label">发现</p>
        </a>
        <a class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <i class="fa fa-user-o"></i>
          </div>
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>
    </div>
  </div>
</div>


