<div class="page">
  <div class="page__bd">
    <div class="weui-tab" >
      <div class="weui-tab__bd">
        <div class="weui-tab__bd-item weui-tab__bd-item--active">
          <div ui-view="tabPage"></div>
          <div style="height: 53px;width: 100%"></div>
        </div>

      </div>

      <div class="weui-tabbar">
        <a ng-click="LoadPage('main')" ng-class="{'true':'weui-bar__item--on','false':''}[urlName=='main']" class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <!--<i class="fa fa-home"></i>-->
            <img src="images/store.png" alt="">
          </div>
          <p class="weui-tabbar__label">首页</p>
        </a>
        <a ng-click="LoadPage('tel')" ng-class="{'true':'weui-bar__item--on','false':''}[urlName=='tel']" class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <!--<i class="fa fa-list-ul"></i>-->
            <img src="images/Category.png" alt="">
          </div>
          <p class="weui-tabbar__label">分类</p>
        </a>
        <a ng-click="LoadPage('find')" ng-class="{'true':'weui-bar__item--on','false':''}[urlName=='find']" class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <!--<i class="fa fa-shopping-cart"></i>-->
            <img src="images/cart.png" alt="">
          </div>
          <p class="weui-tabbar__label">购物车</p>
        </a>
        <a ng-click="LoadPage('me')" ng-class="{'true':'weui-bar__item--on','false':''}[urlName=='me']" class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <!--<i class="fa fa-user-o"></i>-->
            <img src="images/account.png" alt="">
          </div>
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>
    </div>
  </div>
</div>


